<template>
<section>
  <q-tabs>
    <q-route-tab
      :to="{ name: 'Info' }"
      label="Info"
      no-caps
    />
    <q-route-tab
      :to="{ name: 'Confirmation' }"
      label="Confirmation"
      no-caps
    />
  </q-tabs>
  <router-view
    name="tabView"
  />
</section>
</template>

<script>
export default {
  name: 'AppointmentsEditor'
}
</script>
