<template>
<div class="q-gutter-md">
  <Editor
    :editable="false"
  />
  <q-separator />
  <div class="row justify-between">
    <q-btn
      @click="onBackButtonClick"
      label="Back"
      color="primary"
      icon="arrow_back"
    />
    <q-btn
      @click="onCreateButtonClick"
      label="Create"
      color="primary"
      icon="check"
    />
  </div>
</div>
</template>

<script>
import Editor from '@/components/Editor'

export default {
  name: 'TabConfirmation',
  components: { Editor },
  computed: {
    fieldsOk () {
      return this.$store.getters.readyToSaveNewAppointment
    }
  },
  methods: {
    onBackButtonClick () {
      this.$router.push({ name: 'Info' })
    },

    onCreateButtonClick () {
      if (this.fieldsOk) {
        this.$store.commit('confirmNewAppointment')
        this.$q.notify({
          type: 'positive',
          message: 'Appointment has been created'
        })
        this.$router.push({ name: 'AppointmentsList' })
      } else {
        this.$q.notify({
          type: 'negative',
          message: 'Can\'t create. Not all fields are filled in correctly'
        })
      }
    }
  }
}
</script>
