<template>
<div class="q-gutter-md">
  <Editor />
  <q-separator />
  <div class="row justify-between">
    <q-btn
      @click="onBackButtonClick"
      label="Back"
      color="primary"
      icon="arrow_back"
    />
    <q-btn
      @click="onNextButtonClick"
      label="Next"
      color="primary"
      icon="arrow_forward"
    />
  </div>
</div>
</template>

<script>
import Editor from '@/components/Editor'

export default {
  name: 'TabInfo',
  components: { Editor },
  methods: {
    onBackButtonClick () {
      this.$router.push({ name: 'AppointmentsList' })
    },

    onNextButtonClick () {
      this.$router.push({ name: 'Confirmation' })
    }
  }
}
</script>
