<template>
<section transition-show="jump-down">
  <q-btn
    @click="onMakeAppointmentButtonClick"
    label="Make Appointment"
    color="primary"
    icon="add"
    no-caps
  />
  <q-card class="q-mt-md card-list">
    <div
      v-for="(appointment, index) in appointments"
      :key="appointment.id"
      class="row"
    >
      <div class="q-pa-sm full-width">
        <div class="row q-gutter-md no-wrap justify-between">
          <q-checkbox
            :value="appointment.complete"
            @input="onAppointmentCompleteInput(index, $event)"
          >
            <strong>{{ getDateTimeFormatted(appointment.date) }}</strong>
            {{ appointment.name }}
          </q-checkbox>

          <q-btn
            @click="onAppointmentDelete(index)"
            icon="delete"
            color="primary"
            dense
          />
        </div>
      </div>
      <q-separator v-if="index < appointments.length - 1" />
    </div>
  </q-card>

  <Modal
    ref="deleteModal"
  >
    <template v-slot:header>Confirmation of removal</template>
    <template v-slot:body>
      Do You <strong>really</strong> want to remove this appointment?
    </template>
  </Modal>
</section>
</template>

<script>
import dayjs from 'dayjs' // instead of moment.js
import { dateFormat } from '@/modules/options'
import Modal from '@/components/Modal'

export default {
  name: 'AppointmentsList',
  components: { Modal },
  computed: {
    appointments () {
      return this.$store.state.appointments
    }
  },
  methods: {
    getDateTimeFormatted (dateTime) {
      return dayjs(dateTime).format(dateFormat)
    },

    async onAppointmentDelete (index) {
      const result = await this.$refs.deleteModal.start()
      if (result === 'ok') {
        this.$store.commit('removeAppointment', {
          index
        })
      }
    },

    onAppointmentCompleteInput (index, value) {
      this.$store.commit('setComplete', { index, value })
    },

    onMakeAppointmentButtonClick () {
      this.$router.push({ name: 'AppointmentsEditor' })
    }
  }
}
</script>

<style lang="sass">
.card-list
  max-height: calc(100vh - #{$bar * 10})
  overflow-y: auto
</style>
