<template>
<div>
  <q-input
    ref="date"
    :value="dateFormatted"
    :rules="[$options.checkBank.date]"
    label="Date"
    readonly
  >
    <template v-if="editable" v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
          <q-date
            :value="newAppointment.date"
            @input="onEditorInput({
              name: 'date',
              value: $event
            })"
          >
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>

  <q-input
    ref="name"
    label="Full name"
    :value="newAppointment.name"
    :rules="[$options.checkBank.name]"
    :readonly="!editable"
    @input="onEditorInput({
      name: 'name',
      value: $event
    })"
  />

  <q-input
    label="Note"
    :value="newAppointment.note"
    :readonly="!editable"
    @input="onEditorInput({
      name: 'note',
      value: $event
    })"
  />
</div>
</template>

<script>
import dayjs from 'dayjs'
import { checkBank, dateFormat } from '@/modules/options'

export default {
  name: 'Editor',

  checkBank,

  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },

  computed: {
    newAppointment () {
      return this.$store.state.newAppointment
    },

    dateFormatted () {
      return this.newAppointment.date &&
        dayjs(this.newAppointment.date).format(dateFormat)
    }
  },

  methods: {
    onEditorInput ({ name, value }) {
      if (name === 'date') this.$refs.qDateProxy.hide()
      this.$store.commit('changeNewAppointment', {
        name,
        value
      })
    }
  },

  mounted () {
    Object.keys(checkBank)
      .forEach(checkBankKey => {
        this.$refs[checkBankKey].validate()
      })
  }
}
</script>
