<template>
  <q-dialog
    v-model="showModal"
    @before-hide="onBeforeHide"
  >
    <q-card>
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">
          <slot name="header" />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <slot name="body" />
      </q-card-section>

      <q-card-actions align="between">
        <q-btn
          @click="onButtonClick('ok')"
          label="Ok"
          color="primary"
        />
        <q-btn
          @click="onButtonClick('cancel')"
          label="Cancel"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
// my promise-based wrapper for q-dialog component from Quasar
export default {
  name: 'Modal',
  resolveKeeper: null,
  data () {
    return {
      showModal: false,
      result: false
    }
  },
  methods: {
    start () {
      this.result = 'cancel'
      this.showModal = true
      return new Promise(resolve => {
        this.$options.resolveKeeper = resolve
      })
    },
    onBeforeHide () {
      this.$options.resolveKeeper(this.result)
    },
    onButtonClick (result) {
      this.result = result
      this.showModal = false
    }
  }
}
</script>
