<template>
<div id="q-app">
  <q-card class="main-card">
    <q-card-section class="row">
      <div class="col text-h6">
        {{ title }}
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </q-card-section>
  </q-card>
</div>
</template>
<script>
import { titleByRoutePath } from '@/modules/options'

export default {
  name: 'App',
  computed: {
    title () {
      const mainPath = this.$route.path.split('/')[1]
      return titleByRoutePath[mainPath]
    }
  }
}
</script>

<style lang="sass">
#q-app
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.main-card
  width: 100%
  max-width: $bar * 40
  height: 100%
  max-height: $bar * 40
  transition: max-height 0.3s ease-out

.fade-enter-active, .fade-leave-active
  transition: opacity .3s ease

.fade-enter, .fade-leave-active
  opacity: 0

</style>
